

    <!-- Page Content -->
    <div class="col">
      <div style="margin:100px 50px 0 100px;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-3 mb-3">Access denied!</h1>

        <div class="jumbotron">
          <h1 class="display-1">Немає доступу</h1>
          <p>Для доступу до цієї сторінки, зверніться до адміністратора</p>
        </div>
        <!-- /.jumbotron -->
      </div>

    </div>
    <!-- /.container -->

    <pre><%dbg%></pre>

    <!-- Footer -->
    <!-- %_footer_% -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

