<div class="col-lg-2 col-md-3 col-sm-4 col-6 event-main mb-4 align-top text-left">
    <div class="event-image">
        <img src="/images/events/##img##" height="250"/>
        <div class="event-info">
            <div class="event-place">
                <span class="city">##city##</span>
                <span class="place">##place##</span>
            </div>
            <div class="event-pay">
                <span class="prc">##prc##</span>
                <span class="tck">##tck##</span>
                <button role="button" class="btn btn-success pay"><%order%></button>
            </div>
        </div>
    </div>
    <div class="event-title">
        <a href="##lnk##" title="##tit##">##name##</a>
    </div>
    <div class="event-date mt-1 font-weight-bold">##dt##</div>
</div>