                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">##n_loc##</span>
                             </div>
                            <input type="text" class="form-control" id="name_##l##"
                                minlength="5" data-validation-minlength-message="<%name_len5_error%>"
                                required data-validation-required-message="<%name_req_error%>">
                        </div>
