      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Довідка
        <small>GPS Corezoid team</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Головна</a>
        </li>
        <li class="breadcrumb-item active">Довідка</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=uk&amp;ie=UTF8&amp;ll=50.450811,30.520899&amp;t=m&amp;z=18&amp;output=embed"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Зв'язок</h3>
          <p>01001, м. Київ
            <br>пров. Тараса Шевченка, 3
            <br>
          </p>
          <p>
            <abbr title="Телефон">Т</abbr>: (044) 461-8801
          </p>
          <p>
            <abbr title="Email">E</abbr>:
            <a href="mailto:gps@kernel.ua">gps@kernel.ua
            </a>
          </p>
          <p>
            <abbr title="Час роботи">Ч</abbr>: Пн - Пт: 09:00 до 18:00
          </p>
        </div>
      </div>
      <!-- /.row -->