      <h1 class="my-4">Авторизація</h1>

      <!-- Login Form -->
      <div class="row">
        <div class="col-lg-8 mb-4">
          <form name="loginUser" id="loginForm" novalidate>
            <div class="control-group form-group">
              <div class="controls">
                <label for="usr" class="control-label">Логін:</label>
                <input type="text" class="form-control" id="usr" required data-validation-required-message="Вкажіть Ваш логін." value="<%login%>">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label for="pwd" class="control-label">Пароль:</label>
                <input type="password" class="form-control" id="pwd" required data-validation-required-message="Пароль не може бути пустим.">
                <p class="help-block"></p>
              </div>
            </div>
            <input type="hidden" id="back" value="<%back%>">
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="doLogin">Увійти</button>
          </form>
        </div>

      </div>
      <!-- /.row -->